/* styles for pc view */
.parent{
    display: flex;
    justify-content: space-around;
    
}

*{
    font-family: 'Times New Roman', Times, serif;
    
}


.card1{
    margin: 3%;
    width: 40%;
    height: auto;
    text-align: center;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 3%;
    padding: 3%;
}

.card2{
    margin: 3%;
    width: 40%;
    height: auto;
    text-align: center;
    background-color: lightseagreen;
    border: 2px solid black;
    border-radius: 3%;
    padding: 3%;
}

img{
    width: 45%;
    height: auto;
    padding: 5%;
    border-radius: 50%;
}

/*styles for mobile view*/
@media only screen and (min-width:320px) and (max-width:480px){

    .parent{
        display: flex;
        flex-direction: column;  
        justify-content: center;
    }
    
    *{
        font-family: sans-serif;
    }
    
    .card1{
        margin: 5%;
        width: 90%;
        height: 80%;
        text-align: center;
        background-color:gray;
        border: 2px solid black;
        border-radius: 3%;
        padding: 3%;
    }
    
    .card2{
        margin: 5%;
        width: 90%;
        height: 80%;
        text-align: center;
        background-color: brown;
        border: 2px solid black;
        border-radius: 3%;
        padding: 3%;
    }
    
    img{
        width: 35%;
        height: 55%;
        padding: 5%;
        border-radius: 50%;
    }

}